@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	width: 100%;
	height: 100px;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
	font-size: 20px;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
h1 {
	color: #FFFFFF;
	font-weight: bold;
	text-align: undefined;
	font-size: 26px;
	text-decoration: none 
}
#logo {
	float: left;
	
}
h1:hover {
	color: black;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
	margin-top: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 20px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: black;
}
h4 {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}
.shortdescription {
	text-align: center;
	color: #363636;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2.5px;
}
.wrapper {
	width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 290px 290px 290px;
	grid-gap: 0px;
	column-rule: 0px single black;
	margin-bottom: 9px;
}
.img1 {
	width: auto;
	margin: 0px;
	background-color: grey;
	background-image: url("https://www.surmansansthanglobal.org/skin/content/images/gallery/big/15.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.img2 {
	width: auto;
	margin: 0px;
	background-color: grey;
	background-image: url("https://www.surmansansthanglobal.org/skin/content/images/gallery/big/Surman_SansthanBig19.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.img3 {
	width: auto;
	margin: 0px;
	background-color: grey;
	background-image: url("https://www.surmansansthanglobal.org/skin/content/images/gallery/big/30.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.textblock {
	width: auto;
	margin: 0px;
	background-color: #FFFFFF;
	padding-left: 7px;
	box-shadow: 2px 2px 2px 2px grey;
	list-style-type: none;
}
.textblock li {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding: 3px;
}
.textblock1 {
	width: auto;
	margin: 0px;
	padding-top: 0px;
	background-color: #FFFFFF;
	padding-left: 7px;
	box-shadow: 2px 2px 2px 2px grey;
	list-style-type: none;
}
.textblock1 li {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding: 6px;
}
.contact_header {
	color: #FFFFFF;
	text-align: start;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	letter-spacing: 4px;
	font-weight: bold;
}
.contact_list {
	color: #FFFFFF;
	text-align: start;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	letter-spacing: 2px;
	font-weight: bold;
}
/* Stats Gallery */
.prjtitle {
	text-align: center;
	color: #363636;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 3px;
}
.prj {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 300px 300px 300px;
	grid-row-gap: 55px;
}
.prjbox1 {
	width: 100%;
	height: 350px;
	padding: 0px;
	margin: 0px;
	border-radius: 4%;
	box-shadow: 3px 3px 5px 2px grey;
	position: relative;
	background-color: #FFFFFF;
	background-image: url("https://static.thenounproject.com/png/948171-200.png");
	background-position: center;
	background-size: 57.5%;
	background-repeat: no-repeat;
}
.prjbox2 {
	width: 100%;
	height: 350px;
	padding: 0px;
	margin: 0px;
	border-radius: 4%;
	box-shadow: 3px 3px 5px 2px grey;
	position: relative;
	background-image: url("https://www.vippng.com/png/detail/203-2031826_icon-learning-book-and-pencil-icon.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
.prjbox3 {
	width: 100%;
	height: 350px;
	padding: 0px;
	margin: 0px;
	border-radius: 4%;
	box-shadow: 3px 3px 5px 2px grey;
	position: relative;
	background-image: url("https://static.thenounproject.com/png/3244182-200.png");
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
.prjbox4 {
	width: 100%;
	height: 350px;
	padding: 0px;
	margin: 0px;
	border-radius: 4%;
	box-shadow: 3px 3px 5px 2px grey;
	position: relative;
	background-color: #FFFFFF;
	background-image: url("https://static.thenounproject.com/png/76008-200.png");
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
.prjbox5 {
	width: 100%;
	height: 350px;
	padding: 0px;
	margin: 0px;
	border-radius: 4%;
	box-shadow: 3px 3px 5px 2px grey;
	position: relative;
	background-color: #FFFFFF;
	background-image: url("https://img.icons8.com/all/500/home.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.prjbox6 {
	width: 100%;
	height: 350px;
	padding: 0px;
	margin: 0px;
	border-radius: 4%;
	box-shadow: 3px 3px 5px 2px grey;
	position: relative;
	background-color: #FFFFFF;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTV4XyHiy-YKOkONbkxODePN8N1dlhUY-XVWtXqa0tcoaVc-Iiu&usqp=CAU");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}
.prjexpand {
	background-color: #52BAD5;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	width: 100%;
	height: 45px;
	overflow: hidden;
	border-radius: 8%;
	transition: 1.3s ease-in-out;
}
.prjexpand h4 {
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	padding-top: 5px;
	margin: 4px;
} 
.prjexpand li {
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
}
.prjexpand:hover {
	background-color: #363636;
	height: 350px;
	border-radius: 4%;
}
/*Main Contacts*/
.maincontacts {
	width: 100%;
	height: auto;
	background-color: silver;
	border: 1px solid #787575;
	padding: 20px 20px 20px 20px;
}
.maincontacts h2 {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 4px;
	color: #FFFFFF;
}
.maincontacts li {
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFFFFF;
}
/* Donation Page */
/* More info */
.copyright {
	text-align: start;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	height: auto;
}
.social-icon {
	max-height: 37px;
	max-width: 37px;
	border-radius: 50%;
	padding: 4px;
	float: right;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 20px;
	padding-bottom: 20PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}
* {box-sizing:border-box}
/* Expanding Contact */
.expandcontact {
	-webkit-transition: 1s ease-in-out;
	width: 145px;
	height: 140px;
	background-color: #363636;
	position: relative;
	margin-bottom: 4px;
	overflow: hidden;
	border-radius: 10%;
}
.expandcontact p {
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
}
.expandcontact img {
	-webkit-transition: 1.3s ease-in-out;
	width: 145px;
	height: 100%;
	repeat: no-repeat;
	background-color: #363636;
	position: relative;
	float: left;
	margin-bottom: 4px;
	overflow: hidden;
}
.expandcontact:hover {
	height: 140px;
	width: 550px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
	margin-top: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #FFFFFF;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #FFFFFF;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 50%;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
